.main {
    overflow: hidden;
}

.main > a {
    float: left;
    display: inline-block;
    max-height: 300px;
}

.main > a > img {
    max-height: 300px;
}

.main > div {
    float: left;
    display: inline-block;
    width: 50%;
    margin-left: 5%;
}

.list {
    overflow: hidden;
    text-align: center;
}
.list .item {
    display: inline-block;
    width: 24%;
}
.list a {
    display: inline-block;
    width: 200px;
    height: 300px;
}

.list a img {
    width: 200px;
    height: 200px;
}

body {
    background-color: #f8f8f8;
}

.mainmenu {
    list-style: none;
    overflow: hidden;
}

.mainmenu li {
    float: left;
    margin-right: 25px;
}

.mainmenu li a {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px dotted #333333;
    color: #333333;
    text-decoration: none;
}

.mainmenu li a:hover {
    border-bottom: 1px solid #000000;
    color: #000000;
    text-decoration: none;
}